html, body {
	/* Reset the document's margin values */
	margin: 0;
	/* Reset the document's padding values */
	padding: 0;
	/* Use a clean and well-readable base font */
	font: 12pt  'Helvetica Neue', sans-serif;

	/* Styles for better appearance on screens only -- are reset to defaults in print styles later */

	/* Use a non-white background color to make the content areas stick out from the full page box */
	background-color: #fff;
		}
		
		.page {
	/* Styles for better appearance on screens only -- are reset to defaults in print styles later */

	/* Reflect the paper width in the screen rendering (must match size from @page rule) */
	width: 21cm;
	/* Reflect the paper height in the screen rendering (must match size from @page rule) */
	min-height: 29.7cm;

	/* Reflect the actual page margin/padding on paper in the screen rendering (must match margin from @page rule) */
	padding-left: 0.5cm;
	padding-top: 0cm;
	padding-right: 0.5cm;
	padding-bottom: 0cm;
	margin-top: 0cm;
}
/* Use CSS Paged Media to switch from continuous documents to sheet-like documents with separate pages */
@page {
	/* You can only change the size, margins, orphans, widows and page breaks here */

	/* Paper size and page orientation */
	size: A4 portrait;

	/* Margin per single side of the page */
	margin-left: 0cm;
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 0cm;
}

.vowel {color: red;}
.consonant {color: blue;}

table.main {font-size: 48pt; width: 21cm; height: 29.7cm; margin: 0.5cm 0cm 1cm 0cm; border-spacing: 2px;}
table.main tr {height: 2cm; border: none;}
table.main td {border: solid 1px black; width: 2cm; text-align: center}
table.main td.no-border {border: none;}
